<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title><%= title %></title>
		<link
			rel="stylesheet"
			href="/public/index.css"
		/>
		<link
			rel="stylesheet"
			href="/public/grid.css"
		/>
	</head>
	<body>
		<%- include('./components/header.ejs') %>
		<!-- CONTENT -->
		<div class="container gap-from-top">
			<table>
				<thead>
					<tr>
						<th class="col-6">Topics</th>
						<th class="col-1">Replies</th>
						<th class="col-1">Views</th>
						<th class="col-4">Last post</th>
					</tr>
				</thead>
				<tbody>
					<%- include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %> <%-
					include('./components/table-row.ejs') %>
				</tbody>
			</table>
		</div>

		<script src="/public/index.js"></script>
	</body>
</html>
